.slider-image {
  width: 100%;
  max-height: 440px;
  object-fit: cover;
  border-radius: 25px;
  margin-top: 25px;

  @media (max-width: 768px) {
    height: 330px;
    margin-top: 15px;
  }
}

.accomodation_title {
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: 500;
  text-align: left;
  color: #ff6060;
  margin-bottom: 2px;

  @media (max-width: 768px) {
    font-size: 28px;
    margin-bottom: 0px;
  }
}

.details_accomodation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 76px;
  margin: 0;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-gap: 0px;
  }
}
.firstcolumn {
  display: flex;
  flex-direction: column;
  @media (max-width: 768px) {
    grid-column: 1;
  }
}

.secondcolumn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  @media (max-width: 768px) {
    align-items: flex-start;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.location {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  color: #ff6060;
  margin-top: 0;

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.host-pic {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: flex-end;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  text-align: right;
  color: #ff6060;

  @media (max-width: 768px) {
    flex-direction: row;
    align-items: center;
    font-size: 16px;

    justify-content: flex-start;
  }

  @media (max-width: 480px) {
    font-size: 14px;
  }
}

.host_name {
  margin-top: 20px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
}

.host-pic img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-left: 10px;

  @media (max-width: 768px) {
    width: 50px;
    height: 50px;
    margin-left: 5px;
  }

  @media (max-width: 480px) {
    width: 40px;
    height: 40px;
  }
}
.rating-stars {
  margin-top: 20px;
  @media (max-width: 768px) {
  }
}

.rating-stars svg {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  @media (max-width: 768px) {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
}

.accomodation_tag {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}
.accomodation_tag li {
  margin-right: 10px;
  font-size: 14px;
  background: #ff6060;
  border-radius: 10px;
  color: white;
  padding: 5px 10px;
  font-family: "Montserrat";
  font-weight: 500;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 12px;
    margin-bottom: 5px;
  }
}
.details-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 76px;
  margin: 0;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-gap: 0px;
  }

  @media (max-width: 480px) {
    grid-gap: 0px;
  }
}

.description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;

  @media (max-width: 768px) {
    font-size: 13px;
  }
}
.description_content {
  padding-top: 18px;
  padding-left: 28px;
}
.equipments {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;

  @media (max-width: 768px) {
    font-size: 13px;
  }
}
.equipments ul {
  list-style: none;
  font-family: "Montserrat";
}
