.banner-container {
  padding-top: 3%;
  background-position: center;
  position: relative;

  .banner-image {
    width: 100%;
    border-radius: 25px;
    filter: brightness(0.8);
  }

  .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    color: #ffffff;
    font-size: 3rem;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
  }
}
