.banner-container {
  padding-top: 3%;
  background-position: center;
  position: relative;
  @media (max-width: 768px) {
    padding-top: 1.5%;
  }

  .banner-image {
    width: 100%;
    border-radius: 25px;
    filter: brightness(0.8);
    height: 100%;

    @media (max-width: 768px) {
      border-radius: 10px;
      height: 120px;
    }
  }
  .banner-text br {
    @media (min-width: 768px) {
      display: none;
    }
  }

  .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 48px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;

    @media (max-width: 992px) {
      font-size: 35px;
      width: 80%;
    }
    @media (max-width: 768px) {
      font-size: 24px;
      width: 80%;
    }
  }
}
