.accommodations-list {
  background: #f6f6f6;
  border-radius: 25px;
  padding: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 60px;

  @media (max-width: 768px) {
    background-color: #ffffff;
    padding: 0;
    gap: 20px;
  }
}

.accommodation-card {
  position: relative;
  max-width: 395px;
  height: 395px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;

  @media (max-width: 768px) {
    max-width: 100%;
    height: 350px;
    border-radius: 10px;
  }
}

.accommodation-card:hover {
  transform: scale(1.05);
}

.accommodation-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.8);
}

.accommodation-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  color: #ffffff;
  text-align: left;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  text-align: left;

  @media (max-width: 768px) {
    font-size: 16px;
    padding: 8px;
  }
}
