.accommodations-list {
  background: #f6f6f6;
  border-radius: 25px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.accommodation-card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

.accommodation-image {
  width: 100%;
  height: 340px;
  border-radius: 10px;
}

.accommodation-title {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px 10px;
}
