.image-slider {
  display: flex;
  align-items: center;
  position: relative;
}

.slider-arrow.left {
  width: 40px;
  height: 80px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;

  @media (max-width: 768px) {
    height: 20px;
    width: 11px;
  }
}

.slider-arrow.right {
  width: 40px;
  height: 80px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 10px;
  @media (max-width: 768px) {
    height: 20px;
    width: 11px;
  }
}
