.collapse {
  margin-bottom: 20px;
  margin-top: 30px;
}
.collapse-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ff6060;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  font-family: "Montserrat";
}

.collapse-content {
  padding: 5px;
  background-color: #f6f6f6;
  color: #ff6060;
  font-family: "Montserrat";
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
}

.collapse-header h3 {
  margin: 0;
}

.collapse-content p {
  margin: 0;
}
