footer {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 209px;
  width: 100%;
  bottom: 0;

  p {
    color: white;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
  }
}
